#are-jun {
    display: flex;
    padding-bottom: 150px;
    padding-left: 20px;
}

body {
    font-family: 'Sono', sans-serif;
}


.orange {
    color: orange;
}

h1 {
    font-size: 60px;
}

.half-withd {
    width: 50%;
}

.half-withd img {
    width: 100%;
}

.link-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 8px;
}

.container-area {
    background-image: url(images/shapes/7.png);
    display: flex;
}

.women-area img {
    width: 80%;
    padding-left: 250PX;
}

.alamin-sardar {
    padding-left: 400px;
    padding-right: 50px;
}

.link-you {
    background-image: linear-gradient(orange, tomato, blue);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}